<h1 class="page-header">Tasks Details: {{ task.title }}</h1>

<form #taskForm="ngForm" >
  <div class="row">
    <div class="form-group col-md-6 has-feedback" [class.has-error]="title.invalid && title.touched" [class.has-success]="title.valid" >
      <label for="title" class="control-label">Title</label>
      <input class="form-control" type="text" id="title" #title="ngModel" name="title" [(ngModel)]="task.title" required minlength="3" maxlength="255">      
      <span class="glyphicon form-control-feedback" [class.glyphicon-ok]="title.valid" [class.glyphicon-remove]="title.invalid && title.touched" style="margin-right: 20px;"></span>
      
      <div class="text-danger" *ngIf="title.invalid && title.touched">
        <div *ngIf="title.errors.required">Title is required</div>
        <div *ngIf="title.errors.minlength">Deve ter no mínimo 3 caracteres</div>
        <div *ngIf="title.errors.maxlength">Deve ter no máximo 255 caracteres</div>
      </div>
    </div>

    <div class="form-group col-md-3 has-feedback"  [class.has-error]="deadline.invalid && deadline.touched" [class.has-success]="deadline.valid" >
      <label for="deadline" class="control-label">Deadline</label>
      <input class="form-control" type="calendar" id="deadline" #deadline="ngModel" name="deadline" [(ngModel)]="task.deadline" required>      
      <span class="glyphicon form-control-feedback" [class.glyphicon-ok]="deadline.valid" [class.glyphicon-remove]="deadline.invalid && deadline.touched" style="margin-right: 20px;"></span>
      <div class="text-danger" *ngIf="deadline.invalid && deadline.touched">Deadline is required</div>
    </div>

    <div class="form-group col-md-3 has-feedback" [class.has-error]="done.invalid && done.touched" [class.has-success]="done.valid">
      <label for="done" class="control-label" >done</label>
      <select class="form-control" type="text" id="done" #done="ngModel" name="done" [(ngModel)]="task.done" required>  
        <option *ngFor="let option of taskDoneOptions" [value]="option.value">{{ option.text }}</option>
      </select>
      <span class="glyphicon form-control-feedback" [class.glyphicon-ok]="done.valid" [class.glyphicon-remove]="done.invalid && done.touched" style="margin-right: 20px;"></span>
      <div class="text-danger" *ngIf="done.invalid && done.touched">Done is required</div>         
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-12">
      <label for="description" class="control-label">Description</label>
      <textarea class="form-control" rows="4" id="description" name="description" [(ngModel)]="task.description">
      </textarea>     
    </div>      
  </div> 
  
  <button class="btn btn-default" (click)="goBack()" >Back</button>
  <button type="submit" class="btn btn-success" [disabled]="!taskForm.valid" (click)="updateTask()">Update</button>
    
  <pre>
    {{ task | json }}
  </pre>
</form>
